@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-size: 1rem;
}

.search-wrapper{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

input{
    size: 1rem;
    
}

.user-cards{
    margin: 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
}
.card{
    padding: 0.75rem;
    border: 1px solid #ee0093;
    
    border-radius: 0.75rem;
}

.card > .header {
    margin-bottom: 0.25rem;
}

.card > .body{
    font-size: 0.8rem;
    color: #191919;
}

.hide{
    display: none;
}