@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-size: 1rem;
}

.container{

    margin: 0.75rem;
}

button, input{
    border:1px solid #30025e;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.user{
    background: #eeeeff;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    width: 66%;
}

a{
    text-decoration: none;

}
 div{
    margin: 00.75rem;
 }
