@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-size: 1rem;
}

.container{

    margin: 0.75rem;
}

button, input{
    border:1px solid #30025e;
    font-size: 1.2rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.user{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background: #eeeeff;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    width: 66%;
   
}

a{
    font-size: 1rem;
    cursor:pointer;
    color: #028f9f;
    text-decoration: none;

}
 div{
    margin-left: 0.75rem;
    margin-bottom: 2rem;
 }
 
 .reg{
    margin-top:2rem;
    margin-left: 1.5rem;
    background: #f1e604;
    color: #30025e;
    padding: 0.75rem;
    border-radius: 0.5rem ;
    font-size: 1rem
 }