@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --background: #101114;
    --primary: #1c1d20;
    --secondary: #4a4d57;
    --acentcol: #00ffc4;
    --textcolor: #f9f9f9;

}

*{
    margin:0;
    padding:0;
}


html{
    
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    font-size: 1.2rem;
    color: var(--textcolor);
}

body{
    min-height: 100vh;
    padding: 0.625rem;
    background-color: var(--background);
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 6.25rem;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--acentcol);
}

.wrapper{
    width: 43.75rem;
    max-width:100%;
    display: flex;
    flex-direction: column;
    gap: 0.626rem;
}

#todo-input{
    box-sizing: border-box;
    padding: 0.75rem 1.25rem;
    width:100%;
    background: none;
    border: 0.125rem solid var(--secondary);
    border-radius: 2rem;
    font: inherit;
    color: var(--textcolor);
    caret-color: var(--acentcol);
}
#todo-input:focus{
    outline: none;
}

form{
    position: relative;
}

#add-button{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    border-radius: 2rem;
    padding: 0 2rem;
    background-color: var(--acentcol);
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;

}

.todo{
    margin-bottom: 0.625rem;
    padding:0 0.125rem;
    background-color: var(--primary);
    border-radius: 1rem;
    display: flex;
    align-items: center;

}
.todo .todo-text{
    padding: 1rem;
    padding-right: 0;
    flex-grow: 1;
     transition: 300ms ease;
}

.delete-but{
    padding: 0.5rem;
    background:none;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-but svg{
    transition: 300ms ease;
}

.delete-but:hover svg{
    fill: var(--acentcol);
}

.custon-checkbox{
    border: 2px solid var(--acentcol);
    border-radius: 50%;
    min-height: 1.25rem;
      min-width: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink:0;
      transition: 500ms ease;
      cursor:pointer;

}

input[type="checkbox"]:checked ~ .custon-checkbox{background-color: var(--acentcol);}

input[type="checkbox"]:checked ~ .custon-checkbox svg{fill: var(--primary);}

input[type="checkbox"]:checked ~ .todo-text {text-decoration: line-through; color:var(--secondary)}

input[type="checkbox"]{display:none;}


@media(max-width: 500px){
    html{
        font-size: 0.75rem
    }
    #add-button{
        position:unset;
        width:100%;
        margin-top: 10px;
        padding: 12px;
        height: auto;

    }

    h1{
        margin-top: 50px;
        font-size: 10vw;
    }

}

